includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    excludePaths:
        - database/seeders/
        - database/factories/
        # Tambahan yang aman diabaikan:
        - app/Console/
        - app/Exceptions/Handler.php

    # Error yang aman di-ignore di project Laravel:
    ignoreErrors:
        # Eloquent magic method — false positive umum
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        # Relasi dynamic Eloquent
        - '#Access to an undefined property App\\Models\\.+::\$#'